.mail-preview {
    cursor: pointer;
    height: 40px;
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, .12);
    gap: 50px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}

.mail-preview:hover {
    box-shadow: inset -1px 0 0 #dadce0,
        inset 1px 0 0 #dadce0,
        0 1px 2px 0 rgba(60, 64, 67, .3),
        0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2;
}

.read {
    background-color: #f2f6fc;
}

.mail-preview .mail {
    display: grid;
    width: 100%;
    gap: 80px;
    grid-template-columns: 150px 200px 2fr;
}

.mail-preview .mail h2 {
    font-size: 1em;
}

.icon {
    opacity: 0;
    visibility: hidden;
    width: 1.5em;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mail-preview:hover .icon {
    opacity: 1;
    visibility: visible;
}

.date {
    width: 100px;
    opacity: 1;
    visibility: visible;


}

.mail-preview:hover .date {
    opacity: 0;
    visibility: hidden;
}