 /* note list */
 ul {
     flex-wrap: wrap;
     gap: 5px;
     max-width: 80%;
     justify-self: center;
     justify-content: space-between;

}

.note {
    max-width: 150px;
     border: 1px solid #bdc1c6;
     border-radius: 5px;
     margin: 10px;
     padding: 5px;
     font-family: arial ;
     
}

.note:hover {
    cursor: pointer;
    box-shadow: inset -1px 0 0 #dadce0,
    inset 1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, .3),
    0 1px 3px 1px rgba(60, 64, 67, .15);
}

.add-logo{
    width:70px;
    background-color:#ffbc00 ;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: width, 200ms;
}
.add-logo:hover{
    cursor: pointer;
    background-color:#d1a11c ;
    width: 90px;
}